%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin button($color, $border, $background) {
  @extend %btn-reset;
  font-size: 15px;
  line-height: 22px;
  padding: 12px 31px;
  color: $color;
  border: $border;
  background: $background;
  text-align: center;
  border-radius: 2px;
  transition: background-color .3s, color .3s, border-color .3s;
}
