/* Blue */
$mainDarkBlue: #003154;
$lightBlue: #F2F6FB;
$darkBlue: #174463;

/* Black */
$totalBlack: #000103;
$black80: #1E1E1E;
$black70: #404040;
$black60: #888888;

/* Gray */
$gray: #8F9090;
$gray20: #EAEAEA;
$gray5: #F7F7F8;
$gray30: #E1E1E1;
$mainGray:#D0D0D0;

/* White */
$white: #ffffff;

/* Hover */
$hover: #004F87;
$active: #002641;
$focus: #0085FF;
$hoverLinks: 1px solid $hover;
$activeLinks: #60C0C3;