/* Blue */
/* Black */
/* Gray */
/* White */
/* Hover */
.service__menu, .service__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service {
  background-color: #003154;
}
.service__container {
  padding-top: 72px;
  padding-bottom: 88px;
}
@media (max-width: 450px) {
  .service__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.service__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .service__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
    grid-template-areas: "first third" "second fourth";
  }
}
@media (max-width: 477px) {
  .service__top {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "first" "second" "third" "fourth";
  }
}
.service__first {
  grid-area: first;
  max-width: 200px;
}
.service__second {
  grid-area: second;
  max-width: 200px;
}
@media (max-width: 768px) {
  .service__second {
    margin-top: -55px;
  }
}
.service__third {
  grid-area: third;
  max-width: 200px;
}
.service__fourth {
  grid-area: fourth;
  max-width: 200px;
}
.service__title {
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .service__title {
    font-size: 17px;
    line-height: 26px;
  }
}
.service__item:not(:last-child) {
  margin-bottom: 14px;
}
.service__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #EAEAEA;
  transition: color 0.3s;
}
.service__link:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}
.service__link:active {
  border-color: #60C0C3;
  color: #60C0C3;
}
.service__link:focus-visible {
  border-bottom: 1px solid #0085FF;
  margin-bottom: -1px;
}
.service__menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.service__menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  transition: color 0.3s;
}
.service__menu-link:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}
.service__menu-link:active {
  border-color: #60C0C3;
  color: #60C0C3;
}
.service__menu-link:focus-visible {
  border-bottom: 1px solid #0085FF;
  margin-bottom: -1px;
}
@media (max-width: 450px) {
  .service__menu-link {
    font-size: 17px;
    line-height: 26px;
  }
}
.service__line {
  max-width: 555px;
  height: 1px;
  background-color: #174463;
  margin-bottom: 24px;
}
@media (max-width: 527px) {
  .service__bottom {
    display: flex;
    justify-content: space-between;
  }
}
.service__bottom a {
  display: inline-block;
  max-width: 150px;
}
.service__bottom a:first-child {
  max-width: 155px;
}
.service__bottom a:not(:last-child) {
  margin-right: 162px;
}
@media (max-width: 527px) {
  .service__bottom a:not(:last-child) {
    margin-right: 0;
  }
}